@font-face {
    font-family: 'Lora';
    font-family: 'Oxygen';
    src: url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Oxygen:wght@400;700&display=swap');
}

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 3.6rem;
}

h2 {
    font-family: 'Oxygen', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-family: 'Lora', serif;
    font-size: 1.14rem;
    font-weight: 400;
}

header {
    height: 500px;
    background-image: url("../images/header_bg-image.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: #F7F7F7;
}

header .col {
    color: white;
}

header .col h1 {
    margin-bottom: 20px;
}

header .col p {
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 30px;
    font-size: 1.2rem;
}

header .btn {
    color: white;
    background: #DD783F;
    padding: 12px 31px;
}
header .btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(253 113 13 / 25%)
}

.category-list li {
    padding: 10px 0;
    transition: 0.5s;
}

.category-list li:hover {
    background-color: rgba(140, 139, 139, 0.5);
}

.container-fluid {
    background-color: #fff;
}

.section {
    padding: 30px 0;
}

.section-1 {
    margin-top: 30px;
}

.section-2 {
    padding-bottom: 80px;
}

.catalog-container {
    display: grid;
    grid-template-columns: 296px 296px 296px;
    gap: 25px;
    justify-content: center;
}

.card {
    max-width: 296px;
}

.card-body {
    height: 96px;
    font-size: 13px;
}

.card-body h5 {
    color: rgba(16, 19, 21, 1);
    font-size: 16px;
}

.card-body p {
    color: rgba(122, 122, 122, 1);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);

}

.card-footer img {
    margin-right: 10px
}

.card-footer p {
    margin: 0;
}

.category-list ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.category-list a {
    text-decoration: none;
    color: #768088;
    padding: 13px 30px;
}

.featured-post_container {
    display: flex;
    justify-content: center;
}

hr {
    width: 200px;
    background-color: #DEDEDE;
}

.featured-post_item {
    min-height: 280px;
    max-width: 460px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured-post_item  p {
    color: rgba(255, 255, 255, 0.7);
}

.featured-post_item_author {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.featured-post_item_author img {
    margin-right: 10px;
}

.featured-post_item_author p {
    margin: 0;
}

.featured-post_item:nth-child(2) {
    background-image: url("../images/sec-1_img-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-post_item:nth-child(3) {
    background: url("../images/sec-1_img-2.png") no-repeat center center;
    background-size: cover;
}

.card img {
    max-height: 177px;
}

.slick-prev:before {
    background: url("../images/arrow-left-solid.svg") no-repeat;
}

.slick-next:before {
    background: url("../images/arrow-right-solid.svg") no-repeat;
}

.slick-prev:before, .slick-next:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

footer {
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


footer .col {
    max-width: 500px;
    color: white;
    margin: 80px 0;
}

footer .navbar {
    background: rgba(26, 25, 25, 0.26);
    backdrop-filter: blur(10px);
}

footer h2 {
    font-size: 1.8rem;
}

.btn-submit {
    padding: 18px 43px;
    background: rgba(255, 255, 255, 0.28);
}


@media screen and (max-width: 980px) {
    .catalog-container {
        grid-template-columns: 230px 230px 230px;
    }
    .card-body {
        height: 110px;
        overflow: hidden;
    }
}


@media screen and (max-width: 768px) {
    .catalog-container {

        grid-template-columns: 230px 230px;
        gap: 15px;

    }

    .category-list ul {
        width: 400px;
        margin: 0 auto;
    }

    .featured-post_container {
        flex-direction: column;
        align-items: center;
    }

    .featured-post_item {
        margin-bottom: 10px;
    }
}

@media screen and  (max-width: 540px) {
    .catalog-container {
        grid-template-columns: 250px;
        gap: 15px;

    }
    .category-list ul {
        width: 300px;
        padding: 0;

    }
}