@font-face {
    font-family: Lora;
    src: url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: Oxygen;
    src: url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: Oxygen, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-family: Lora, serif;
    font-size: 3.7rem;
}

h2 {
    font-family: 'Oxygen', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-family: 'Lora', serif;
    font-size: 1.14rem;
    font-weight: 400;
}

header {
    height: 500px;
    background-image: url("../images/header_bg-image.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    padding: 17px 0;
}

.navbar .container {
    height: inherit;
    display: flex;
    max-width: 940px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-brand {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
}

.navbar-menu, .footer__navbar-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-menu .navbar-item {
    display: inline-block;
}

.navbar-menu .navbar-item a {
    display: inline-block;
    padding: 10px 19px;
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 0;
    color: #fff;
}

main {
    background-color: #F7F7F7;
}

header .col {
    color: white;
}

header .col h1 {
    margin-bottom: 20px;
    line-height: 51px;
    letter-spacing: 4.55px;

}

header .col p {
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 30px;
    font-size: 1.23rem;
}

header .btn {
    color: white;
    background: #DD783F;
    padding: 12px 27px;
}

header .btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 113 13 / 25%)
}

.container__category-list {
    display: flex;
    align-items: center;
    max-width: 960px;
    height: 65px;
    margin: 0 auto;
}

.category-list {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 0;
    padding-left: 0;
}

.category-list li {
    display: inline-block;
    width: 139px;
    padding: 13px 0;
    transition: 0.5s;
    text-align: center;
}

.category-list li a {
    font-family: Lora, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: .8px;
    text-decoration: none;
    line-height: 20px;
    color: #768088;
}

.category-list li:hover {
    background-color: rgba(140, 139, 139, 0.5);
}

.container-fluid {
    background-color: #fff;
}

.section {
    padding: 30px 0;
}

.section-1 {
    margin-top: 30px;
}

.section-2 {
    margin-top: 8px;
    padding-bottom: 80px;
}

.catalog-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 27px 20px;
    padding-top: 2px;
    justify-content: center;
}

.card {
    max-width: 300px;
}

.card-img-top {
    max-height: 177px;
}

.card-body {
    height: 96px;
    font-size: 13px;
}

.card-title {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: .66px;
    color: rgba(16, 19, 21, 1);
}

.card-body p {
    color: rgba(122, 122, 122, 1);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
    padding: 7px 13px;
}

.card-footer img {
    margin-right: 10px
}

.card-footer p {
    margin: 0;
}

.featured-post_container {
    display: flex;
    justify-content: center;
}

.section_header h2 {
    font-family: Oxygen, sans-serif;
    line-height: 27px;
    letter-spacing: 1.4px;
}

.section_header hr {
    width: 188px;
    background-color: #DEDEDE;
    margin: 16px 0;
}

.featured-post_container {
    gap: 8px;
    padding-top: 7px;
}

.featured-post_item {
    min-height: 280px;
    max-width: 460px;
    padding: 15px 20px;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured-post_item > div {
    text-align: center;
    align-items: center;
}

.featured-post_item h3 {
    letter-spacing: 1px;
}

.featured-post_item p {
    color: rgba(255, 255, 255, 0.7);
}

.featured-post_item_author {
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;

}

.featured-post_item_author img {
    margin-right: 10px;
}

.featured-post_item_author p {
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    margin: 0;
}

.featured-post_item:first-child {
    background-image: url("../images/sec-1_img-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-post_item:nth-child(2) {
    background: url("../images/sec-1_img-2.png") no-repeat center center;
    background-size: cover;
}


footer {
    margin-top: 32px;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


footer .col {
    max-width: 520px;
    color: white;
    margin: 37px 0;
}

footer .navbar {
    background: rgba(26, 25, 25, 0.26);
    backdrop-filter: blur(10px);
}


footer .section_header h2 {
    font-family: Oxygen, sans-serif;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0;
}

footer .input-group {
    padding-top: 3px;
}

footer input.form-control {
    padding-left: 32px;
}

.btn-submit {
    padding: 17px 42px;
    background: rgba(255, 255, 255, 0.28);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
}

footer .navbar {
    padding: 24px 0;
}

footer .navbar-brand {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 2.2px;
}

.footer__navbar-menu .navbar-item {
    display: inline-block;
}

.footer__navbar-menu .navbar-item a {
    display: inline-block;
    padding: 0 5px;
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    letter-spacing: 1.1px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
}


@media screen and (max-width: 980px) {
    .catalog-container {
        grid-template-columns: 230px 230px 230px;
    }

    .card-body {
        height: 110px;
        overflow: hidden;
    }
}


@media screen and (max-width: 768px) {
    .catalog-container {

        grid-template-columns: 230px 230px;
        gap: 15px;

    }

    .category-list ul {
        width: 400px;
        margin: 0 auto;
    }

    .featured-post_container {
        flex-direction: column;
        align-items: center;
    }

    .featured-post_item {
        margin-bottom: 10px;
    }
}

@media screen and  (max-width: 540px) {
    .catalog-container {
        grid-template-columns: 250px;
        gap: 15px;

    }

    .category-list ul {
        width: 300px;
        padding: 0;

    }
}